.picture{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover ;
  border-radius: 5px;
}

.pictureContainer{
  width: 24%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pictureContainer > a:first-of-type:hover, 
.pictureContainer > a:first-of-type:focus {
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}