.picture{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover ;
  border-radius: 5px;
}

.pictureContainer{
  width: 24%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}


.pictureContainer > a:first-of-type:hover, 
.pictureContainer > a:first-of-type:focus {
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 850px) {
  .pictureContainer{
    width: 32%;
  }
}

@media (max-width: 650px) {
  .pictureContainer{
    width: 49%;
  }
}

@media (max-width: 450px) {
  .pictureContainer{
    width: 49%;
  }
}

@media (max-width: 360px) {
  .pictureContainer{
    width: 100%;
  }
}