.picturesUser{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;

  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border: none;
}

.picturesUser:hover, .picturesUser:focus{
  text-decoration: underline;
  border: none;
  outline: none;
}

.picturesUser--Image{
  border-radius: 5px;
}

.picturesUser--Name{
  text-shadow: 0 0 5px #000;
}