.pictureList{
  width: 100%;
  height: calc(100vh - 70px);
  margin: 0 auto;

  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  gap: calc(100%/75);  /* 100% / 25 / 3 */

  padding: 10px;
  box-sizing:border-box;


}

::-webkit-scrollbar {
  margin-left: 10px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #2c2b30;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #717075; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff007d; 
}