.search{
  width: fit-content;
  background-color: #252429;
  padding: 0.5rem 1rem;

  display: flex;
  align-items:center;
  gap: 1rem;

  border-radius: 10px;
  box-sizing: border-box;
}

.search.focused {
  box-sizing: border-box;
  border: 1px solid white;
}

.search--input{
  width: 250px;
  font-size: 18px;
  background-color: #252429;
  border: none;
  outline: none;
  color: white;
}

@media (max-width: 520px) {
  .search--input{
    width: min(90% - 26px, 250px);
  }
  .search{
    max-width: calc(90% - 20px);
  }
}
