.App {
  text-align: center;
  width: 100vw;
  background-color: #1d1c21;
}

.App--Main{
  width: min(90%, 1200px);
  margin: 0 auto;
}

.App--TopContainer{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.topContainerButon--button{
  background:  none;
  border: none;
  cursor: pointer;
}

.topContainerButon--button:hover, .topContainerButon--button:focus{
  outline:  none;
  opacity: 0.5;
}

